<header>
	<nav>
		<div class="nav-wrapper indigo">
			<div style="margin-left: 30px"><%= link_to "Pin^_^Pics", root_path, id: "logo" ,class: "brand-logo" %></div>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
			    <li><%= link_to "Boards" ,'#'%></li>
			    <li> <%= link_to "Images", '#' %> </li>
			  </ul>
		</div>
	</nav>
</header>